<body style="text-align: center;">
<div class="jumbotron" style="margin-bottom: 0%; margin-top: 0%;">
	<h1>Showing selected aticle</h1>
</div>
<div class="formContainer" style="background-color: lightgrey; width: 25%; margin-left: auto; margin-right: auto; padding-bottom: 1%; margin-top: 0%;">
	<h3>Title: <%= @article.title %></h3>

	<h3>Description: <%= @article.description %></h3>
</div
</body>