<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>

<body>
<div class="jumbotron">
<h1 style="text-align: center;">
	Welcome to Alpha Blog!
</h1>
</div>

<h3 style="text-align: center;">Enjoy your stay</h3>

<div container>
<p style="text-align: center;">Helvetica tilde polaroid, lomo blog banjo humblebrag pitchfork vice wolf paleo. Next level hoodie waistcoat, pickled williamsburg meditation green juice yr stumptown crucifix austin blue bottle. Viral gastropub bitters, polaroid<br /> vinyl scenester vice fanny pack pitchfork pork belly aesthetic. Pour-over 8-bit neutra master cleanse. Disrupt seitan selvage taxidermy wayfarers kickstarter. Intelligentsia<br /> biodiesel fingerstache hoodie, cliche helvetica tumblr master cleanse ugh hashtag four loko. Cardigan semiotics meditation brooklyn etsy, direct trade mixtape kickstarter farm-to-table poutine actually plaid celiac.</p>
<p style="text-align: center;">Helvetica tilde polaroid, lomo blog banjo humblebrag pitchfork vice wolf paleo. Next level hoodie waistcoat, pickled williamsburg meditation green juice yr stumptown crucifix austin blue bottle. Viral gastropub bitters, polaroid<br /> vinyl scenester vice fanny pack pitchfork pork belly aesthetic. Pour-over 8-bit neutra master cleanse. Disrupt seitan selvage taxidermy wayfarers kickstarter. Intelligentsia<br /> biodiesel fingerstache hoodie, cliche helvetica tumblr master cleanse ugh hashtag four loko. Cardigan semiotics meditation brooklyn etsy, direct trade mixtape kickstarter farm-to-table poutine actually plaid celiac.</p>
</div>

</body>
</html>