<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
 		<p class="navbar-text" style="margin-left: -20%;">Created by <a href="#">Adam Parker</a>	</p>
 		<p class="navbar-text" style="margin-left: 35%;"> | <a href="#">Programming languages</a> | <a href="#">test</a> | <a href="#">test</a> |</p>
 		<p class="navbar-text" style="float: right;"> <a href="#"> Linkedin</a> <br /> <a href="#">Twitter</a> </p>
  </div>
</nav>